/*
    ----- Fonts -----
*/

@font-face {
    font-family: "Source Sans 3";
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url("../fonts/SourceSans3VF-Upright.otf.woff2");
}

@font-face {
    font-family: "Source Sans 3";
    font-weight: 200 900;
    font-style: italic;
    font-stretch: normal;
    src: url("../fonts/SourceSans3VF-Italic.otf.woff2");
}


/*
    ----- General -----
*/

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 4.75rem 0 0 0; /* space for navbar */
    padding: 0;
    border: 0;

    font-family: "Source Sans 3", sans-serif;
    color: rgb(245,245,255);
    background-color: rgb(10, 10, 20);

    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
    background-image: radial-gradient(75% 75% at 19% 23%, #577EC405 0%, #250E7314 100%),radial-gradient(48% 48% at 60% 45%, #0D3AAC21 0%, #30349508 99%),radial-gradient(75% 75% at 17% 56%, #3CDCC60D 0%, #1E32570D 100%),radial-gradient(75% 75% at 71% 67%, #22336224 0%, #34357612 100%),radial-gradient(75% 75% at 44% 52%, #080808FF 0%, #070D11FF 99%);
}

hr {
    box-sizing: border-box;
    width: 33%;
    margin: 4rem auto;
    max-width: 35rem;
    color: rgba(255,255,255,0.2);
}

a {
    color: rgb(200, 200, 255);
}

section {
    scroll-margin-top: 4.75rem;
}


/*
    ----- Navbar -----
*/

div.nav_container {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.75rem 0.5rem;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    background-color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    max-width: 45rem;
    margin: 0 auto;
    background-color: rgba(0, 0, 10, 0.7);
    backdrop-filter: blur(0.5rem) saturate(150%);
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5), inset 4px 4px 24px rgba(255,255,255,0.06), inset -4px -4px 24px rgba(255,255,255,0.03);
}

nav>a {
    font-family: sans-serif;
    color: inherit;
    text-decoration: none;
    margin: 0 1rem;
    transition-duration: 200ms;
    border-bottom: 1px solid transparent;
}

nav>a:hover {
    border-bottom: 1px solid white;
}

nav>.expand_button {
    color: white;
    padding: 0.4rem 0.8rem;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 0.2rem;
    display: none;
    transition-duration: 200ms;
}

nav>.expand_button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

ul.footer_nav {
    margin: 0;
    list-style-type: "";
    padding: 0;
}

ul.footer_nav>li {
    margin: 0.5rem 0;
}

ul.footer_nav>li>a {
    color: inherit;
    text-decoration: inherit;

    border-bottom: 1px solid transparent;
    transition-duration: 200ms;
}

ul.footer_nav>li>a:hover {
    border-bottom: 1px solid white;
}


@media screen and (max-width: 600px) {
    nav>.expand_button {
        display: initial;
    }

    nav>a {
        display: none;
    }

    nav.expanded>.expand_button {
        margin-bottom: 1rem;
    }

    nav.expanded>a {
        display: initial;
        padding: 0.5rem 0;
        width: 100%;
    }

    div.nav_container {
        padding: 0;
    }

    nav {
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        justify-content: left;
    }
}


/*
    ----- Headers -----
*/

div.header_container {
    margin: 0 auto;
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    max-width: 75rem;
}

section>header {
    margin: 2rem auto;
    padding: 0 0.5rem;
    text-align: center;
    font-size: 2rem;
}

header.hero {
    margin: 0 auto;
    text-align: center;
    padding: 8rem 1rem;
    border-radius: 0.5rem;
    background-image: url("../images/cosi-room.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.5);
}

header.hero>h1 {
    font-size: 5rem;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.5);
}

header.hero>h2 {
    font-size: 1.8rem;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.5);
}



/*
    ----- Footers -----
*/

body>footer {
    max-width: 75rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 0.5rem;
}

footer>article.card {
    padding: 1rem 1.5rem;
}


/*
    ----- Generic grids -----
*/

div.grid {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 75rem;
    width: 100%;
    display: grid;
    box-sizing: border-box;
    gap: 1rem;
    grid-template-columns: 1fr;
}

div.grid.twocol_left {
    grid-template-columns: 2fr 1fr;
}

div.grid.twocol_right {
    grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 600px) {
    div.grid.twocol_left, div.grid.twocol_right {
        grid-template-columns: 1fr;
    }
}



/*
    ----- Content Cards -----
*/

.card_container {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 75rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 1rem;
}

article.card {
    box-sizing: border-box;
    border-radius: 0.5rem;
    background-color: rgb(10,10,20);
    border: 1px solid rgba(255,255,255,0.15);
    display: grid;
    grid-template-rows: 12rem max-content 1fr max-content;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.5);
}

article.card.noimg {
    grid-template-rows: max-content 1fr max-content;
}

article.card>header {
    padding: 0.75rem 0.75rem 0 0.75rem;
}

article.card>div.content {
    padding: 0.75rem;
}

article.card>footer {
    box-sizing: border-box;
    background-color: rgb(3,3,12);
    border-radius: 0 0 0.5rem 0.5rem;
    width: 100%;
    padding: 0.75rem;
    border-top: 1px solid rgba(255,255,255,0.1);
}

article.card>img {
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

article.card.twocol {
    grid-template-rows: initial;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 600px) {
    article.card.twocol {
        grid-template-columns: 1fr;
        grid-template-rows: initial;
    }
}



/*
    ----- Buttons -----
*/

a.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    background-color: rgba(25,25,70);
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 0.5rem;
    margin: 0;
    text-align: center;

    text-decoration: inherit;
    color: inherit;
    transition-duration: 200ms;
}

a.button.large {
    width: 100%;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

a.button:hover {
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.5);
    background-color: rgba(35,35,90);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.7), inset 4px 4px 32px rgba(100,100,255,0.08), inset -4px -4px 32px rgba(100,100,255,0.08);
}

/*
    ----- Quick modifiers -----
*/

.right {
    text-align: right;
}
